# This is a basic workflow to help you get started with Actions

name: Original flowner

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      - name: Setup Java Environment
        uses: actions/setup-java@v3
        with: 
          distribution: "adopt"
          java-version: "11"

      - name: Clean Mule Project
        run: mvn clean

      - name: Run Munits
        run: mvn clean test
    
      - name: Package Mule project
        run: mvn clean package

      - name : Deploy the code
        run: mvn clean deploy -DmuleDeploy